<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <li class="menu-text">Shoppy</li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Help', static_pages_help_path %></li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><%= link_to 'Sign up', signup_path %></li>
    </ul>
  </div>
</div>
